body {
    background-image: url("../images/backgroundimage.png");
    background-repeat: repeat;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h5 {
    font-size: 8px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6 {
    font-size: 6px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 3px;
}

.TopHeader {
    background-color: #ffffff;
    width: 100%;
    border-bottom: 3px #cccccc solid;
}

.HeaderName {
    background-color: #4AAAA5;
    color: #ffffff;
    padding: 10px;
}

ul {
    margin: 0px;
}

li {
    display: inline-block;
    padding: 0 3px;   
}


.NaviBar {
    float: right;
    color: #777777;
    padding-top: 15px;
    padding-right: 10px;
}

.AboutMeSection {
    width: 938px;   
    align-items: center;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    color: #777777;
    border: 1px solid #dddddd;
}

#aboutme {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#contactme {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#portfolioid {
    color: #4aaaa5;
    border-bottom: 1px solid #4aaaa5;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#JessePic1 {
    width: 10%;
    height: 10%;
    margin-right: 10px;
    float: left;
}

.copyright {
    clear: both;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #666666;
    color: #ffffff;
    border-top: 5px solid #4AAAA5;
    width: 100%;
    padding:10px;
    margin-bottom: 0;
    font-size: 8px;
    z-index: 3;
}

.ContactMeDiv {
    width: 938px;
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    border: 1px solid #dddddd;
}

.CommentsSection {
    width: 98%  ;
    height: 200px;
    border-color: #666666;
    border-width: 1px;
    margin-bottom: 5px;  
}

.ContactStyle {
    width: 50%;
    border-color: #666666;
    border-width: 1px;
} 

a:link {
    text-decoration: none;
    color:  #777777;
}

li h3 a:hover {
    color: #4aaaa5;
}

a:visited {
    color: #777777;
}

a:active {
    text-decoration: underline;
    color: #777777;
}

.submit {
    padding: 10px 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: 2px solid #666666;
    border-radius: 4px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.portfoliosection {
    width: 938px; 
    background-color: #ffffff;
    margin: 30px auto;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
}

.hangdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.rpgdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.triviadiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}
    
.rutgersdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.rpsdiv {
    position: relative;
    display: inline-block;
    float: left;
    width: 425px;
    margin: 10px;
}

.projecttitle {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 40px 0px;
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    z-index: 1;
    left: 0;
    top: 45%;
    font-weight: bold;
}

.GalleryClass {
    margin: 30px 0px;
    display: inline-block;
}

.picsize {
    width: 100%;
}

@media only screen and (max-width: 980px) {
    .AboutMeSection {
        width: 600px;
        position: Absolute;
        top: 60px;
        left: 40px;
    }
    
    .portfoliosection {
        width: 600px;
        position: absolute;
        top: 60px;
        left: 40px;
    }

    .hangdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
    }
    
    .rpgdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
    }
    
    .triviadiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
    }
        
    .rutgersdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
    }
    
    .rpsdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 200px;
        margin: 5px;
    }

    .projecttitle {
        font-size: 16px;
        padding: 20px 0px;
    }

    .ContactMeDiv {
        width: 600px;
        position: absolute;
        top: 60px;
        left: 40px;
    }

    .ContactStyle {
        width: 75%;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

}

@media only screen and (max-width: 768px) {    
    body {
        width: 768px;
    }

    h1 {
        font-size: 30px;
    }

    .AboutMeSection {
        width: 650px;
        top: 110px;
        margin: 20px 30px 60px 10px; 

    }
    
    .portfoliosection {
        width: 650px;
        top: 110px;
        margin: 20px 30px 60px 10px; 
    }

    h3 {
        font-size: 16px;
    }

    .HeaderName {
        padding: 40px 10px;
    }

    .copyright {
        padding: 15px;
    }

    .Navibar {
        padding-top: 40px;  
    }

    .hangdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 300px;
        margin: 5px;
    }
    
    .rpgdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 300px;
        margin: 5px;
    }
    
    .triviadiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 300px;
        margin: 5px;
    }
        
    .rutgersdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 300px;
        margin: 5px;
    }
    
    .rpsdiv {
        position: relative;
        display: inline-block;
        float: left;
        width: 300px;
        margin: 5px;
    }

    .projecttitle {
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 40px 0px;
        background-color: #4aaaa5;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        z-index: 1;
        left: 0;
        top: 45%;
        font-weight: bold;
    }

    .ContactMeDiv {
        width: 650px;
        top: 110px;
        margin: 20px 30px 60px 10px; 
    }    

    .HeaderName {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 640px) {
    .TopHeader {
        background-color: #ffffff;
        width: 100%;
        border-bottom: 3px #cccccc solid;
        display: inline-block;
        text-align: center;
    }
    
    .HeaderName {
        background-scolor: #4AAAA5;
        color: #ffffff;
        width: 100%;
        margin: 0;
        text-align: center;
        display: inline-block;
        padding: 20px 0px;
    }

    li {
        display: inline-block;
    }
    
    .NaviBar {
        color: #777777;
        display: block;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
        padding: 0;
        list-style: none;
        height: 30px;
        padding-top: 10px;
        }

    h1 {
        font-size: 30px;
    }

    .AboutMeSection {
        width: 85%;
        top: 120px;
        margin: 20px 30px 60px 60px;
    }

    ul {
        background-color: #4aaaa5;
        width: 100%;
    }

    .hangdiv {
        position: relative;
        display: block;
        width: 500px;
        margin: 5px;
    }
    
    .rpgdiv {
        position: relative;
        display: block;
        width: 500px;
        margin: 5px;
    }
    
    .triviadiv {
        position: relative;
        display: block;
        width: 500px;
        margin: 5px;
    }
        
    .rutgersdiv {
        position: relative;
        display: block;
        width: 500px;
        margin: 5px;
    }
    
    .rpsdiv {
        position: relative;
        display: block;
        width: 500px;
        margin: 5px;
    }

    .GalleryClass {
        margin: 8px 10%;
    }

    .copyright {
        padding: 15px;
    }

    .portfoliosection {
        width: 600px;
        top: 110px;
        margin: 20px 30px 60px 30px; 
    }

    .projecttitle {
        position: absolute;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 40px 0px;
        background-color: #4aaaa5;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        z-index: 1;
        left: 0;
        top: 45%;
        font-weight: bold;
    }
}